{{#authenticated}}
<div id="leftMenu" class="col push_four twelve first pt">

	<p class="pt"><a href="/users"><span class="icon-user"></span> Admin Users</a></p>
	<p class="pt"><a href="/config"><span class="icon-pencil"></span> Configuration</a></p>
	<p class="pt"><a href="/sending"><span class="icon-mail"></span> Send</a></p>

	<p class="pt ra"><a href="/employees"><span class="icon-users"></span> Employees</a></p>
	<p class="pt"><a href="/questions"><span class="icon-question"></span> Questions</a></p>
	<p class="pt"><a href="/graphs"><span class="icon-graph"></span> Graphs</a></p>

	<p class="pt ra"><a href="/logout"><span class="icon-warning"></span> Logout</a></p>

</div>
{{/authenticated}}
 
