{{>header}}
<div class="row" style="margin-top: 100px;">


	<div class="col twelve last push_four">
		<h2>Job Satisfaction Survey</h2>
		<h3 class="dpt">Welcome, {{firstname}}</h3>
		<p>On a scale of smilie faces (where an angry face is not at all satisfied and a happy face is very satisfied) rank your job satisfaction on the following criteria:</p>

<style>
.ans {
	width: 32px;
	height: 32px;
}
.ansoff {
	background-image: url('/assets/images/radio-off.png');
}
.anson {
	background-image: url('/assets/images/radio-on.png');
}
</style>
<script>
$(document).ready(function() {
	$(".ans").on("click",function(){
		var quid = $(this).attr("quid");
		$("#question_"+quid).val($(this).attr("data"));
		$(".q"+quid).removeClass("anson").addClass("ansoff");
		$(this).removeClass("ansoff").addClass("anson");
	});

	$("#surveyform").on("submit",function(){
return checkForm();
	});

});
function checkForm(){

	$.each($(".answers"),function(){
		if($(this).val() == 0) {
			alert("You have not answered all the survey questions!");
			return false;
		};
	});
	alert("continuing");
	return true;
}
</script>
<form action="/survey/{{link}}" method="POST" id="surveyform" onSubmit="return checkForm();">
	<input type="hidden" name="_csrf" value="{{csrfToken}}">
{{#questions}}
		<div class="row">
			<div class="col twelve first last dialog pl pr pb pt">
				<span class="r">
					<div class="ans ansoff r hml q{{id}}" data="10" quid="{{id}}"><img src="/assets/images/10.png" width="32" height="32" border="0"></div>
					<div class="ans ansoff r hml q{{id}}" data="9" quid="{{id}}"><img src="/assets/images/9.png" width="32" height="32" border="0"></div>
					<div class="ans ansoff r hml q{{id}}" data="8" quid="{{id}}"><img src="/assets/images/8.png" width="32" height="32" border="0"></div>
					<div class="ans ansoff r hml q{{id}}" data="7" quid="{{id}}"><img src="/assets/images/7.png" width="32" height="32" border="0"></div>
					<div class="ans ansoff r hml q{{id}}" data="6" quid="{{id}}"><img src="/assets/images/6.png" width="32" height="32" border="0"></div>
					<div class="ans ansoff r hml q{{id}}" data="5" quid="{{id}}"><img src="/assets/images/5.png" width="32" height="32" border="0"></div>
					<div class="ans ansoff r hml q{{id}}" data="4" quid="{{id}}"><img src="/assets/images/4.png" width="32" height="32" border="0"></div>
					<div class="ans ansoff r hml q{{id}}" data="3" quid="{{id}}"><img src="/assets/images/3.png" width="32" height="32" border="0"></div>
					<div class="ans ansoff r hml q{{id}}" data="2" quid="{{id}}"><img src="/assets/images/2.png" width="32" height="32" border="0"></div>
					<div class="ans ansoff r hml q{{id}}" data="1" quid="{{id}}"><img src="/assets/images/1.png" width="32" height="32" border="0"></div>
				</span>
				<h4 class="pb">{{name}}</h4>
				<p>{{{txt}}}</p>
					<input type="hidden" class="answers" name="question_{{id}}" id="question_{{id}}" value="0">
			</div>
		</div>
{{/questions}}

<div class="row">
	<div class="col twelve first last dialog pl pr pb pt">
		<h4>Notes/Suggestions</h4>
		<p>Put whatever notes in here you can think would help your job here be more satisfactory.</p>
<textarea name="notes"></textarea>
	</div>
</div>


<div class="row dpb">
	<div class="col twelve first last">
		<button type="submit" class="dmt green">Submit the Survey!</button>
	</div>
</div>

</form>

<div class="row dpb">
	&nbsp;
</div>
<div class="row dpb">
	&nbsp;
</div>
<div class="row dpb">
	&nbsp;
</div>

	</div>
</div>
{{>footer}}
